@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /*=======Main theme colors=======*/
    --first-color: #0e2431;
    --second-color: #6a59d1;
    --third-color: #777;

    /*=======Hover colors=======*/
    --hover-color: #614fd0;

    /*=======Background colors=======*/
    --body-bg-color: #fefefe;
    --card-bg-color: #fff;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-01: rgba(0, 0, 0, 0.1);
    --bg-transparent-color-02: rgba(106, 89, 209, 0.1);
    --liner-color: #d7d7d7;

    /*=======Color Filter=======*/
    --color-filter: invert(1);

    /*=======Box shadow=======*/
    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    /*=======Font size=======*/
    --small-font-size: 14px;
    --normal-font-size: 16px;

    /*=======Scroll bar colors=======*/
    --scroll-bar-color: #c5cadf;
    --scroll-thumb-color: #70768a;
    --scroll-thumb-hover-color: #454f6b;
}

.dark-theme {
    /*=======Main theme colors=======*/
    --first-color: #fff;
    --second-color: #6a59d1;
    --third-color: #a9afc3;

    /*=======Background colors=======*/
    --body-bg-color: #0e1b31;
    --card-bg-color: #132347;
    --modal-bg-color: #102048;
    --bg-transparent-color: rgba(255, 255, 255, 0.1);
    --bg-transparent-color-01: rgba(255, 255, 255, 0.1);
    --liner-color: #454f6b;

    /*=======Color Filter=======*/
    --color-filter: invert(0);

    /*=======Scroll bar colors=======*/
    --scroll-bar-color: #c1ceff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}

.dark-theme .nav-menu-btn{
    background: url(../img/burger-white.svg) no-repeat center;
}

.dark-theme .nav-menu-btn.close{
    background: url(../img/close-white.svg) no-repeat center;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}
